parameters:
    bootstrapFiles:
        - %rootDir%/../../../vendor/cakephp/cakephp/src/basics.php
    ignoreErrors:
        - '#Access to an undefined property Cake\\Datasource\\EntityInterface::\$api_token#'
    excludePaths:
        - src/Controller/AppController.php